h1{
    background: dodgerblue; color: sandybrown; text-align: center}
h2{
    background: cornsilk; color: silver }
h3{
    background: darksalmon; color: darkblue}
p{
    background: bisque; color: black}
ul>li{
    background: aliceblue; color: darkcyan}
img{
    width: 250px}
